<section class='list'>
	<div class="search">
		<mat-form-field appearance="outline">
			<mat-label>Search</mat-label>
			<input matInput placeholder="start..." #searchBox id="search-box" (keyup)="search(searchBox.value)">
			<mat-icon matSuffix>search</mat-icon>
			<mat-hint>Only names (excluding titles)</mat-hint>
		</mat-form-field>
	</div>

	<div class='item' *ngFor='let speaker of speakerList$ | async | slice: lowValue : highValue'>
		<a data-section='article' routerLink="/detail" [state]="{ speaker: speaker }">
			<mat-card>
				<mat-card-header>
				<mat-card-title-group>
					<mat-card-title>{{ speaker.name.title }} {{ speaker.name.first }} {{ speaker.name.last }}</mat-card-title>
					<mat-card-subtitle>{{ speaker.location.country }}</mat-card-subtitle>
					<img mat-card-sm-image src="{{ speaker.picture.medium }}" >
				</mat-card-title-group>
				</mat-card-header>
			</mat-card>
		</a>
	</div>

	<mat-paginator [length]="(speakerList$ | async)?.length"
		[pageSize]=pageSize
		(page)="getPaginatorData($event)"
		aria-label="Select page">
	</mat-paginator>
</section>